footer.footer
  .container
    .footer-content
      .footer-section
        h3 About CivicaLex
        p Making legal information accessible to every Indian citizen
      .footer-section
        h3 Quick Links
        ul
          li: a(href='/') Home
          li: a(href='/about') About
          li: a(href='/contact') Contact
      .footer-section
        h3 Contact Info
        p Email: info@civicalex.in
        p Phone: +91 98765 43210
    .footer-bottom
      p &copy; 2023 CivicaLex. All rights reserved.